---
layout: default
---
<div class="col-lg-12 centered">
    {% for project in site.data.projects reversed %}
    {% if project.publish != false %}
        {% cycle nil, nil, nil, '<div class="clearfix visible-md visible-lg spacing"></div>' %}

        <div class="col-md-4 col-sm-6">
            <a href="{{ project.source }}"><img src="{{ project.image }}" /></a>
            <a href="{{ project.source }}"><h4>{{ project.title }}</h4></a>
            <small>{{ project.description | markdownify }}</small>
        </div>

        {% cycle nil, '<div class="clearfix visible-sm spacing"></div>' %}

        <hr class="visible-xs">
    {% endif %}
    {% endfor %}
</div>
