<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget-wrapper widget_text">
                    <div class="footer-title">
                        <h4>{{ site.data.footer.footer1.title }}</h4>
                    </div>
                    <div class="textwidget">
                        {{ site.data.footer.footer1.content | markdownify }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-wrapper widget_text">
                    <div class="footer-title">
                        <h4>{{ site.data.footer.footer2.title }}</h4>
                    </div>
                    <div class="textwidget">
                        {{ site.data.footer.footer2.content | markdownify }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-wrapper widget_text">
                    <div class="footer-title">
                        <h4>{{ site.data.footer.footer3.title }}</h4>
                    </div>
                    <div class="textwidget">
                        {{ site.data.footer.footer3.content | markdownify }}
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

