---
layout: basic
body-tag: data-spy="scroll" data-target=".navbar"
---
<div class="container resume-container" >
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div class="navbar resume-nav" data-spy="affix" data-offset-top="160" data-offset-bottom="338">
                <ul class="nav">
                    <li class="active"><a href="#work">Work</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#publications">Publications</a></li>
                    <li><a href="#cv">CV</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <h1 id="work" class="center">Work</h1>
            <div>
                {% for item in site.data.work reversed %}
                    <article class="post">
                        {% cycle '<div class="grey less">', '<div class="white less">' %}
                            <div class="post-container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="post-meta">
                                            <p><bd><time class="post-date">{{ item.worked_date }}</time></bd></p>
                                        </section><!-- end of .post-meta -->

                                        <header>
                                            <h3 class="post-title">{{ item.title }} <small>{{ item.company }}</small></h3>
                                        </header>

                                        <section class="post-entry post-content-truncate">
                                            {{ item.description | markdownify }}
                                        </section><!-- end of .post-entry -->
                                    </div>
                                </div><!-- end of .row -->
                            </div> <!-- end of .container -->
                        </div>
                    </article>
                {% endfor %}
            </div>
            <h1 id="education" class="center">Education</h1>
            <div>
                {% for item in site.data.education reversed %}
                    <article class="post">
                        {% cycle '<div class="grey less">', '<div class="white less">' %}
                            <div class="post-container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="post-meta">
                                            <p><bd><time class="post-date">{{ item.worked_date }}</time></bd></p>
                                        </section><!-- end of .post-meta -->

                                        <header>
                                            <h3 class="post-title">{{ item.title }} <small>{{ item.company }}</small></h3>
                                        </header>

                                        <section class="post-entry post-content-truncate">
                                            {{ item.description | markdownify }}
                                        </section><!-- end of .post-entry -->
                                    </div>
                                </div><!-- end of .row -->
                            </div> <!-- end of .container -->
                        </div>
                    </article>
                {% endfor %}
            </div>
            <h1 id="publications" class="center">Publications</h1>
            <div>
                {% for item in site.data.publications reversed %}
                    <article class="post">
                        {% cycle '<div class="grey less">', '<div class="white less">' %}
                            <div class="post-container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="post-meta">
                                            <p><bd><time class="post-date">{{ item.worked_date }}</time></bd></p>
                                        </section><!-- end of .post-meta -->

                                        <header>
                                            <h3 class="post-title">{{ item.title }} <small>{{ item.company }}</small></h3>
                                        </header>

                                        <section class="post-entry post-content-truncate">
                                            {{ item.description | markdownify }}
                                        </section><!-- end of .post-entry -->
                                    </div>
                                </div><!-- end of .row -->
                            </div> <!-- end of .container -->
                        </div>
                    </article>
                {% endfor %}
            </div>
            <h1 class="center">CV</h1>
            <div id="cv">
                <p><a href="/assets/cv.pdf">View my full CV</a><p>
            </div>
        </div>
    </div>
</div>
