---
layout: basic
---
<div class="container">
<div class="col-lg-8 col-lg-offset-2">
        <p>Download my full CV.</p>
</div>
</div>

{% for edu in site.data.education reversed %}
    <article class="post">
        {% cycle '<div id="grey">', '<div id="white">' %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <section class="post-meta">
                            <p><bd><time class="post-date">{{ edu.worked_date }}</time></bd></p>
                        </section><!-- end of .post-meta -->

                        <header>
                            <h3 class="post-title">{{ edu.title }}</h3>
                        </header>

                        <section class="post-entry post-content-truncate">
                            {{ edu.description | markdownify }}
                        </section><!-- end of .post-entry -->
                    </div>
                </div><!-- end of .row -->
            </div> <!-- end of .container -->
        </div>
    </article>
{% endfor %}

{% for work in site.data.work reversed %}
    <article class="post">
        {% cycle '<div id="grey">', '<div id="white">' %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <section class="post-meta">
                            <p><bd><time class="post-date">{{ work.worked_date }}</time></bd></p>
                        </section><!-- end of .post-meta -->

                        <header>
                            <h3 class="post-title">{{ work.title }} <small>{{ work.company }}</small></h3>
                        </header>

                        <section class="post-entry post-content-truncate">
                            {{ work.description | markdownify }}
                        </section><!-- end of .post-entry -->
                    </div>
                </div><!-- end of .row -->
            </div> <!-- end of .container -->
        </div>
    </article>
{% endfor %}
